<!-- subscribe-section -->
<section class="subscribe-section">
    <div class="pattern-layer" style="background-image: url(~/Clasifico/assets/images/shape/shape-9.png);"></div>
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-6 col-md-6 col-sm-12 text-column">
                <div class="text">
                    <div class="icon-box"><i class="icon-25"></i></div>
                    <h2>Subscribe to Newsletter</h2>
                    <p>and receive new ads in inbox</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 form-column">
                <form action="http://azim.commonsupport.com/Clasifico/contact.html" method="post" class="subscribe-form">
                    <div class="form-group">
                        <input type="email" name="email" placeholder="Inout your email address" required="">
                        <button type="submit" class="theme-btn-one">Subscribe Now</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- subscribe-section end -->