USE [Advert]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 24.6.2022 15:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 24.6.2022 15:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](30) NULL,
	[Password] [varchar](30) NULL,
	[Authority] [char](1) NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Adverts]    Script Date: 24.6.2022 15:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adverts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](100) NULL,
	[Description] [varchar](2000) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Address] [varchar](250) NULL,
	[AdvertDate] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Image] [varchar](250) NULL,
 CONSTRAINT [PK_dbo.Adverts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 24.6.2022 15:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](30) NULL,
	[Description] [varchar](100) NULL,
	[Icon] [varchar](50) NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 24.6.2022 15:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](100) NULL,
	[Email] [varchar](100) NULL,
	[Phone] [varchar](15) NULL,
	[Subject] [varchar](100) NULL,
	[Message] [varchar](2000) NULL,
 CONSTRAINT [PK_dbo.Contacts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 24.6.2022 15:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Sender] [varchar](50) NULL,
	[Receiver] [varchar](50) NULL,
	[Subject] [varchar](50) NULL,
	[Content] [varchar](2000) NULL,
	[MessageDate] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_dbo.Messages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 24.6.2022 15:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](30) NULL,
	[LastName] [varchar](30) NULL,
	[Phone] [varchar](15) NULL,
	[Address] [varchar](500) NULL,
	[Image] [varchar](250) NULL,
	[Email] [varchar](50) NULL,
	[Password] [varchar](20) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([Id], [UserName], [Password], [Authority]) VALUES (1, N'a', N'1', N'A')
INSERT [dbo].[Admins] ([Id], [UserName], [Password], [Authority]) VALUES (4, N'b', N'2', N'B')
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[Adverts] ON 

INSERT [dbo].[Adverts] ([Id], [Title], [Description], [Price], [Address], [AdvertDate], [Status], [CategoryId], [UserId], [Image]) VALUES (23, N'Hasarsiz Linea 1.4 Benzin+ LPG', N'Aracimiz 2014 model 1.4 Benzin + LPG sirali sistem

150.000 km 

Hasarsiz Boyasiz temiz kullanilmis.

Beyaz renk', CAST(198000.00 AS Decimal(18, 2)), NULL, CAST(N'2022-06-24T06:40:03.000' AS DateTime), 1, 2, 3, N'/Images/Adverts/3.jpg.jpg')
SET IDENTITY_INSERT [dbo].[Adverts] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Description], [Icon]) VALUES (1, N'Emlak', N'emlak kategorisi', N'icon-6')
INSERT [dbo].[Categories] ([Id], [Name], [Description], [Icon]) VALUES (2, N'Vasita', N'vasita kategorisi', N'icon-10')
INSERT [dbo].[Categories] ([Id], [Name], [Description], [Icon]) VALUES (3, N'Elektronik', N'elektronik kategorisi', N'icon-8')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Phone], [Address], [Image], [Email], [Password], [Status]) VALUES (1, N'hakan', N'sandal', N'05464654', N'tekirdag', N'123.jpg', N'hakan.sandal9@hotmail.com', N'123456', 0)
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Phone], [Address], [Image], [Email], [Password], [Status]) VALUES (2, N'betül', N'yesildag', N'05360164766', N'ATATÜRK MAH. ÇEKEN CAD. M.KARAÇOBAN - S.CANBAZ BLOK  NO: 18  IÇ KAPI NO: 3 KAPAKLI / TEKIRDAG', N'/Images/Users/tarkan.jpg.jpg', N'hakan.sandal8@gmail.com', N'123456', 0)
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Phone], [Address], [Image], [Email], [Password], [Status]) VALUES (3, N'admin', N'admin', N'05360164766', N'ATATÜRK MAH. ÇEKEN CAD. M.KARAÇOBAN - S.CANBAZ BLOK  NO: 18  IÇ KAPI NO: 3 KAPAKLI / TEKIRDAG', N'/Images/Users/tarkan.jpg.jpg', N'admin@gmail.com', N'123456', 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Adverts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Adverts_dbo.Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Adverts] CHECK CONSTRAINT [FK_dbo.Adverts_dbo.Categories_CategoryId]
GO
ALTER TABLE [dbo].[Adverts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Adverts_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Adverts] CHECK CONSTRAINT [FK_dbo.Adverts_dbo.Users_UserId]
GO
